.design-tech-section {
    padding: 126px 0 164px 0;
}

.design-tech-section .container {
    padding: 0 150px;
}

.design-tech-heading {
    
}

.design-tech-heading h1 {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #040415;
}

.design-tech-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100.48px;
}