.header-section {
    background: #FFFFFF;
    padding-top: 13.86px;
}

.header-bg-shadow1 {
    position: absolute;
    top: 0;
    left: 0;
}

.header-section .container {
    width: 1140px;
    position: relative;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
}
 
.header-shadow2 {
    position: absolute;
    right: 0;
    top: 0;
}

.nav {
    height: 87.84px;
}

.nav table {
    width: 100%;
}

.nav table td:nth-child(1) {
    text-align: left;
}

.nav table td:nth-child(2) {
    width: 100%;
}

.nav table td:nth-child(2) ul{
    text-align: right;
}
.nav table td:nth-child(2) ul li{
    text-align: right;
    display: inline-block;
    margin: 0 10px;
}

.nav table td:nth-child(2) ul li a {
    padding: 5px 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: rgba(4, 4, 21, 0.8);
    text-decoration: none;
}

.nav table td:nth-child(3) {
    text-align: right;
}
    
.nav table td:nth-child(3) .header-btn button {
    width: 193.46px;
    height: 50px;
    background: #3088FF;
    box-shadow: 16px 16px 28px rgba(48, 136, 255, 0.1);
    border-radius: 8px;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;    
    margin-left: 17.54px;
}

.logo img{
    width: 132px;
    height: 87px;
}
