

.workflow-section {
    background: url("../assets/images/workflow-bg.png");
    padding: 68.91px 0 78px 0;
    
}

.workflow-section .container {
    padding: 0 150px;
}

.workflow-heading {
    text-align: center;   
}

.workflow-heading h1{
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #040415;
}

.workflow-content-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85.41px;
}

.workflow-list ol li {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #040415;
    margin-bottom: 30px;
    text-align: left;
}

.workflow-list ol li:first-child {
    background-color: #FFFFFF;
    padding: 25px;
    border-left: 2.73px solid #2D5BFF;
    border-left: -5px;
}

.workflow-list ol li:first-child span{
    width: 438.43px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(4, 4, 21, 0.6);


}

.workflow-img {
    margin-left: 28px;
}